n8n-workflows/simple-email-test.json
{
  "name": "Simple Email Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "test-email"
    },
    {
      "parameters": {
        "fromEmail": "tesnimelbehi@gmail.com",
        "toEmail": "={{ $json.email || 'tesnimelbehi@gmail.com' }}",
        "subject": "Test Email from n8n",
        "message": "Hello!\n\nThis is a test email from your n8n reminder system.\n\nIf you receive this, your email configuration is working correctly!\n\nBest regards,\nYour Personal Reminder System",
        "options": {
          "host": "smtp.gmail.com",
          "port": 587,
          "secure": false,
          "auth": {
            "user": "tesnimelbehi@gmail.com",
            "pass": "csus xdzn newl aehm"
          }
        }
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Test email sent successfully\" } }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "simple-email-test",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}
